In [57]:
# import libreris

import numpy as np
import pandas as pd

In [58]:
# import dataset
ds=pd.read_csv("quikr_car.csv")
ds

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [59]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [60]:
ds.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [61]:
ds["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [62]:
ds.dropna(inplace=True)

In [63]:
# for year

ds["year"]=pd.to_numeric(ds["year"],errors='coerce')

In [64]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    int64
 3   Price       837 non-null    object
 4   kms_driven  837 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 45.8+ KB

In [65]:
# for price
ds["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,85,000', '3,40,000', '70,000',
       '2,89,999', '8,49,999', '7,49,999', '2,74,999', '9,84,999',
       '5,99,999', '2,44,999', '4,74,999', '2,45,000', '1,69,500',
       '2,75,000', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [66]:
ds["Price"]=ds["Price"].str.replace(",","")

In [67]:
ds["Price"]=pd.to_numeric(ds["Price"],errors='coerce')

In [68]:
ds["Price"].unique()

array([  80000.,  425000.,      nan,  325000.,  575000.,  175000.,
        190000.,  830000.,  250000.,  182000.,  315000.,  415000.,
        320000., 1000000.,  500000.,  350000.,  160000.,  310000.,
         75000.,  100000.,  290000.,   95000.,  180000.,  385000.,
        105000.,  650000.,  689999.,  448000.,  549000.,  501000.,
        489999.,  280000.,  349999.,  284999.,  345000.,  499999.,
        235000.,  249999., 1475000.,  395000.,  220000.,  170000.,
         85000.,  200000.,  570000.,  110000.,  448999., 1891111.,
        159500.,  344999.,  449999.,  865000.,  699000.,  375000.,
        224999., 1200000.,  195000.,  351000.,  240000.,   90000.,
        155000.,  600000.,  189500.,  210000.,  390000.,  135000.,
       1600000.,  701000.,  265000.,  525000.,  372000.,  635000.,
        550000.,  485000.,  329500.,  251111.,  569999.,   69999.,
        299999.,  399999.,  450000.,  270000.,  158400.,  179000.,
        125000.,  299000.,  150000.,  285000.,  340000.,   70000.,
        289999.,  849999.,  749999.,  274999.,  984999.,  599999.,
        244999.,  474999.,  245000.,  169500.,  275000.,  370000.,
        168000.,  145000.,   98500.,  209000.,  185000.,  900000.,
        699999.,  199999.,  544999.,  199000.,  540000.,   49000.,
        700000.,   55000.,  895000.,  355000.,  565000.,  365000.,
         40000.,  400000.,  330000.,  580000.,  379000.,  219000.,
        519000.,  730000., 2000000., 2100000., 1400000.,  311000.,
        855000.,  535000.,  178000.,  300000.,  255000.,  549999.,
        380000.,   57000.,  410000.,  225000.,  120000.,   59000.,
        599000.,  675000.,   72500.,  610000.,  230000.,  520000.,
        524999.,  424999.,  644999.,  584999.,  799999.,  444999.,
        649999.,  944999.,  574999.,  374999.,  130000.,  401000.,
       1350000.,  174999.,  239999.,   99999.,  324999., 1074999.,
       1130000.,  149000.,  770000.,   30000.,  335000.,  399000.,
         65000.,  169999.,  165000.,  560000.,  950000.,  715000.,
         45000.,  940000.,  155555., 1500000.,  495000.,  800000.,
       1299000.,  530000., 1499000.,   32000.,  405000.,  760000.,
        750000.,  419000.,  140000., 1540000.,  123000.,  498000.,
        480000.,  488000., 1525000.,  548900.,  725000.,   99000.,
         52000., 2800000.,  499000.,  381000.,  278000.,  690000.,
        260000.,   90001.,  115000., 1599000.,  159000.,   51999.,
        215000.,   35000., 1150000.,  269000.,   60000.,  430000.,
       8500003.,  401919.,  490000.,  424000.,  205000.,  549900.,
        435000.,  189700.,  389700.,  360000.,  295000.,  114990.,
       1065000.,  470000.,   48000.,  188000.,  465000.,  179999.,
       2190000., 2390000., 1075000.,  475000., 1025000.,  615000.,
       1900000., 1490000., 1510000., 1850000.,  790000., 1725000.,
       1225000.,   68000.,  970000., 3100000.,  899000.,   88000.,
         53000.,  568500.,   71000.,  590000.,  795000.,   42000.,
        189000.,  162000.,   35999., 2900000.,   39999.,   50500.,
        510000.,  860000.,  500001.])

In [69]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    int64
 3   Price       816 non-null    float64
 4   kms_driven  837 non-null    object
 5   fuel_type   837 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 45.8+ KB

In [70]:
# for kms_driven
ds["kms_driven"]=ds["kms_driven"].str.replace(",","").str.replace("kms","")

In [71]:
ds["kms_driven"]=pd.to_numeric(ds["kms_driven"],errors='coerce')

In [72]:
# handling outliers
ds=ds[ds["kms_driven"]>=10000]

In [73]:
ds=ds[ds["kms_driven"]<=200000]

In [74]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 751 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        751 non-null    object
 1   company     751 non-null    object
 2   year        751 non-null    int64
 3   Price       736 non-null    float64
 4   kms_driven  751 non-null    int64
 5   fuel_type   751 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 41.1+ KB

In [75]:
sorted(ds["kms_driven"].unique())

[10000,
 10544,
 10750,
 11000,
 11400,
 11500,
 11523,
 12000,
 12500,
 12516,
 13000,
 13349,
 13500,
 13900,
 14000,
 15000,
 15141,
 15487,
 15574,
 15975,
 16000,
 16934,
 18000,
 18500,
 19000,
 19336,
 20000,
 21000,
 22000,
 22134,
 23000,
 23452,
 24000,
 24330,
 24530,
 24652,
 24695,
 24800,
 25000,
 25500,
 26500,
 27000,
 28000,
 28028,
 28400,
 28600,
 29000,
 29500,
 29685,
 30000,
 30201,
 30600,
 30874,
 31000,
 32000,
 32700,
 33000,
 33333,
 33400,
 33600,
 34000,
 34580,
 35000,
 35500,
 35522,
 35550,
 36000,
 36200,
 36469,
 37000,
 37200,
 37458,
 37518,
 38000,
 38200,
 38500,
 38600,
 38900,
 39000,
 39522,
 39700,
 40000,
 41000,
 41800,
 42000,
 42590,
 43000,
 43200,
 43222,
 44000,
 44005,
 45000,
 45863,
 45872,
 45933,
 46000,
 47000,
 47900,
 48000,
 48006,
 48008,
 48247,
 48508,
 48660,
 49000,
 49500,
 49800,
 50000,
 51000,
 52000,
 52500,
 52800,
 53000,
 54000,
 54500,
 54870,
 55000,
 55700,
 55800,
 56000,
 56400,
 56450,
 56758,
 57000,
 57923,
 58000,
 58559,
 59000,
 59466,
 59910,
 60000,
 60105,
 60123,
 60500,
 62000,
 62500,
 63000,
 64000,
 65000,
 65422,
 65480,
 66000,
 67000,
 68000,
 68485,
 69000,
 69900,
 70000,
 71200,
 72000,
 72160,
 73000,
 74000,
 75000,
 76000,
 77000,
 80000,
 80200,
 81876,
 82000,
 84000,
 85000,
 85455,
 85960,
 87000,
 88000,
 90000,
 90001,
 91200,
 95000,
 95500,
 97000,
 97200,
 99000,
 100000,
 100200,
 100800,
 102563,
 103553,
 104000,
 111111,
 116000,
 117000,
 120000,
 129000,
 130000,
 131000,
 132000,
 133000,
 137495,
 140000,
 146000,
 147000,
 150000,
 160000,
 166000,
 170000,
 175400,
 175430,
 180000,
 195000,
 200000]

In [76]:
ds["fuel_type"].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [77]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 751 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        751 non-null    object
 1   company     751 non-null    object
 2   year        751 non-null    int64
 3   Price       736 non-null    float64
 4   kms_driven  751 non-null    int64
 5   fuel_type   751 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 41.1+ KB

In [78]:
ds["company"].unique()

array(['Hyundai', 'Maruti', 'Ford', 'Skoda', 'Mahindra', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Mercedes', 'Land', 'Force', 'Jaguar', 'Volvo'], dtype=object)

In [85]:
for i in ds.index:
    company=ds.loc[i,"company"]
    name=ds.loc[i,"name"]
    name=name.replace(company,"").strip()
    ds.loc[i,"name"]=name

In [86]:
ds["name"].unique()

array(['Santro Xing XO eRLX Euro III', 'Suzuki Alto 800 Vxi',
       'Grand i10 Magna 1.2 Kappa VTVT', 'EcoSport Titanium 1.5L TDCi',
       'Figo', 'Eon', 'EcoSport Ambiente 1.5L TDCi',
       'Suzuki Alto K10 VXi AMT', 'Fabia Classic 1.2 MPI',
       'Suzuki Stingray VXi', 'Elite i20 Magna 1.2', 'Scorpio SLE BS IV',
       'Q7', 'Scorpio S10', 'Suzuki Alto 800', 'i20 Sportz 1.2',
       'Suzuki Alto 800 Lx', 'Suzuki Vitara Brezza ZDi', 'Suzuki Alto LX',
       'Bolero DI', 'Suzuki Swift Dzire ZDi', 'Scorpio S10 4WD',
       'Suzuki Swift Vdi BSIII', 'Suzuki Wagon R VXi BS III',
       'Suzuki Wagon R VXi Minor', 'Innova 2.0 G 8 STR BS IV',
       'Lodgy 85 PS RXL', 'Yeti Ambition 2.0 TDI CR 4x2',
       'Suzuki Baleno Delta 1.2', 'Duster 110 PS RxZ Diesel Plus',
       'Duster 85 PS RxE Diesel', 'City 1.5 S MT', 'Suzuki Dzire',
       'Amaze', 'Amaze 1.5 SX i DTEC', 'City', 'Redi GO S',
       'Suzuki SX4 ZXI MT', 'Pajero Sport Limited Edition',
       'Suzuki Swift VXi 1.2 ABS BS IV', 'City ZX CVT',
       'Suzuki Wagon R LX BS IV', 'Indigo eCS LS CR4 BS IV',
       'Polo Highline Exquisite P', 'Spark LS 1.0',
       'Duster 110PS Diesel RxZ', 'Cooper S 1.6',
       'Fabia 1.2L Diesel Ambiente', 'Duster', 'Scorpio S4',
       'Scorpio VLX 2WD BS IV', 'Quanto C8', 'EcoSport', 'Brio',
       'i20 Magna', 'Corolla Altis Diesel D4DG',
       'Verna Transform SX VTVT', 'Corolla Altis Petrol Ltd',
       'City 1.5 EXi New', 'Fabia 1.2L Diesel Elegance', '3 Series 320i',
       'Suzuki A Star Lxi', 'Etios GD', 'Figo Diesel EXI Option',
       'Suzuki Swift Dzire VXi 1.2 BS IV', 'Beat LT Diesel',
       '7 Series 740Li Sedan', 'XUV500 W8 AWD 2013', 'i10 Magna 1.2',
       'Verna Fluidic New', 'Suzuki Swift VXi 1.2 BS IV',
       'Suzuki Ertiga ZXI Plus', 'Suzuki Ertiga Vxi', 'Suzuki Ertiga VDi',
       'Suzuki Alto LXi BS III', 'Grand i10 Asta 1.1 CRDi',
       'Amaze 1.2 S i VTEC', 'i20 Asta 1.4 CRDI 6 Speed',
       'Figo Diesel EXI', 'Suzuki Eeco 5 STR WITH AC HTR',
       'Suzuki Ertiga ZXi', 'Suzuki Esteem LXi BS III', 'Suzuki Ritz VXI',
       'Suzuki Ritz LDi', 'Suzuki Dzire VDI', 'Etios Liva G',
       'i20 Sportz 1.4 CRDI', 'Spark', 'Micra XV', 'Suzuki Swift',
       'Amaze 1.5 S i DTEC', 'Beat', 'City 1.5 V MT',
       'EcoSport Trend 1.5L TDCi', 'i20 Asta 1.2', 'Indica V2 eLS',
       'Suzuki Alto 800 Lxi', 'Motors Ambassador', 'Corolla Altis 1.8 GL',
       'Corolla Altis 1.8 J', 'Innova 2.5 GX BS IV 7 STR',
       'Jetta Highline TDI AT', 'Polo', 'Scorpio', 'Sunny', 'Elite i20',
       'Kwid', 'Scorpio VLX Airbag', 'Spark LT 1.0',
       'Suzuki Swift RS VDI', 'Punto Emotion 1.2', 'i10 Sportz 1.2',
       'Beat LT Opt Diesel', 'Beat LS Diesel', 'Indigo CS',
       'Suzuki Swift VDi', 'Eon Era Plus', 'XUV500', 'Fiesta',
       'Suzuki Wagon R', 'i20', 'Indigo eCS LX TDI BS III',
       'Fluidic Verna 1.6 CRDi SX', 'Petra ELX 1.2 PS', 'Suzuki Zen VX',
       'Creta 1.6 SX Plus Petrol', 'Scorpio SLX',
       'Innova 2.5 G BS III 8 STR', 'Suzuki Wagon R LXI BS IV',
       'Suzuki Alto Std BS IV', 'Suzuki Wagon R LXi BS III',
       'Suzuki Swift VXI BSIII', 'Sumo Victa EX 10 by 7 Str BSIII',
       'Passat Diesel Comfortline AT', 'Scala RxL Diesel Travelogue',
       'Grand i10 Sportz O 1.2 Kappa VTVT', 'i20 Active 1.2 SX',
       'Xylo E4', 'Bolero SLE BS IV', 'Suzuki SX4', 'Etios',
       'City ZX VTEC', 'Suzuki Wagon R LX BS III', 'City VX O MT Diesel',
       'Thar CRDe 4x4 AC', 'A4 1.8 TFSI Multitronic Premium Plus',
       'Benz GLA Class 200 CDI Sport', 'Rover Freelander 2 SE',
       'Aria Pleasure 4X2', 'Benz B Class B180 Sports', 'Jazz VX MT',
       'i20 Active 1.4L SX O', 'Cooper S', 'Suzuki Ciaz ZXI Plus',
       'Tavera Neo', 'Eon Sportz', 'Sumo Gold Select Variant',
       'Suzuki Wagon R 1.0', 'Suzuki Esteem VXi BS III',
       'Enjoy 1.4 LS 8 STR', 'Suzuki Wagon R 1.0 VXi',
       'Terrano XL D Plus', 'Duster 85 PS RxL Diesel', 'Suzuki Dzire ZXI',
       'Kwid RXT Opt', 'Suzuki  800 Std', 'Kwid 1.0 RXT AMT',
       'Scala RxL Diesel', 'Grand i10 Asta 1.2 Kappa VTVT O',
       'Beat LS Petrol', 'Accent GLX', 'Suzuki Swift LDi',
       'Indica V2 Xeta e GLE', 'Indigo CS LS DiCOR',
       'Scorpio VLX Special Edition BS III', 'Indica eV2 LS', 'Accord',
       'EcoSport Titanium 1.5 TDCi', 'Suzuki Ertiga', 'Scorpio 2.6 CRDe',
       'Mobilio', 'Corolla Altis', 'Laura', 'Verna Fluidic',
       'Suzuki Vitara Brezza', 'Manza Aura Quadrajet',
       'Sail UVA Petrol LT ABS', 'Verna Fluidic 1.6 VTVT SX',
       'A4 2.0 TDI 177bhp Premium', 'Elantra SX',
       'Scorpio VLX 4WD Airbag', 'KUV100 K8 D 6 STR', 'i10', 'i20 Active',
       'Redi GO', 'Etios Liva', 'Accent', 'Verna', 'Fortuner',
       'i10 Sportz', 'Spark LT 1.0 Airbag', 'Indigo eCS VX CR4 BS IV',
       'Rapid Elegance 1.6 TDI CR MT', 'Vista Quadrajet VX',
       'Suzuki Alto K10 VXi AT', 'Suzuki Zen LXi BS III',
       'Suzuki Swift Dzire Tour LDi', 'City ZX EXi', 'Beat Diesel',
       'Verna 1.4 VTVT', 'Suzuki  800 Std – Befo',
       'Elite i20 Asta 1.4 CRDI', 'Suzuki Versa DX2 8 SEATER BSIII',
       'Indigo LX TDI BS III', 'Vento Konekt Diesel Highline',
       'Benz C Class 200 CDI Classic', 'Santro Xing GLS',
       'Suzuki Omni Limited Edition', 'Sonata Transform 2.4 GDi MT',
       'Jazz S MT', 'Grand i10 Sportz 1.2 Kappa VTVT',
       'Suzuki Zen LXi BSII', 'Scorpio W Turbo 2.6DX 9 Seater',
       'Suzuki Alto K10 VXi', 'Grand i10 Asta 1.2 Kappa VTVT',
       'XUV500 W8', 'i20 Magna O 1.2', 'Duster 85 PS RxL Explore LE',
       'Brio V MT', 'TUV300 T4 Plus', 'Ikon 1.3 CLXi NXt Finesse',
       'Fortuner 3.0 4x4 MT', 'Manza ELAN Quadrajet',
       'Benz A Class A 180 Sport Petrol', 'Indigo LS', 'i20 Magna 1.2',
       'Vento Highline Plus 1.5 Diesel AT', 'Kwid RXT',
       'Amaze 1.5 E i DTEC', 'Verna 1.6 EX VTVT', '5 Series 520d Sedan',
       'Superb 1.8 TFSI AT', 'Q3 2.0 TDI quattro Premium',
       'Bolero DI BSII', 'Suzuki Zen Estilo LXI Green CNG',
       'Figo Duratorq Diesel Titanium 1.4', 'Suzuki Wagon R VXI BS IV',
       'Logan Diesel 1.5 DLS', 'Nano GenX XMA', 'Figo Petrol LXI',
       'i10 Magna 1.2 Kappa2', 'Corolla H2', 'Indigo CS eLS BS IV',
       'Xcent Base 1.1 CRDi', 'Accent Executive Edition',
       'Zest XE 75 PS Diesel', 'Suzuki Dzire LDI', 'Sumo Gold LX BS IV',
       'Corolla Altis GL Petrol', 'Suzuki Eeco 7 STR',
       'Fortuner 3.0 4x2 MT', 'XUV500 W6', 'Suzuki 800',
       'Mobilio S i DTEC', 'Verna 1.6 CRDI E', 'Indica', 'Santro Xing',
       'Suzuki Zen Estilo', 'Brio VX AT', 'Suzuki Wagon R Select Variant',
       'Xcent S 1.2', 'Eon Magna Plus', 'Suzuki Ritz GENUS VXI',
       'Grand i10 Magna AT 1.2 Kappa VTVT', 'Eon D Lite Plus',
       'Suzuki Estilo VXi ABS BS IV', 'Suzuki Vitara Brezza LDi O',
       'Innova 2.0 V', 'Scorpio Vlx BSIV', 'Lancer 1.8 LXi',
       'Suzuki  800 AC', 'Suzuki Alto 800 LXI CNG O',
       'Fiesta SXi 1.6 ABS', 'Suzuki Ritz VDi', 'Suzuki Estilo LX BS IV',
       'A6 2.0 TDI Premium', 'Suzuki Alto', 'Suzuki Baleno Sigma 1.2',
       'Suzuki Swift GLAM', 'Getz Prime 1.3 GVS', 'Santro',
       'Getz Prime 1.3 GLX', 'Beat PS Diesel',
       'EcoSport Trend 1.5 Ti VCT', 'Indica V2 DLG', 'X1 xDrive20d xLine',
       'City 1.5 V AT', 'Cruze LTZ AT', 'Suzuki Swift Dzire VDi',
       'XUV500 W10', 'Suzuki Alto K10 LXi CNG', 'Accent GLE',
       'Motors One SUV', 'Spark 1.0 LT', 'Etios Liva GD',
       'Duster 85PS Diesel RxL Optional with Nav', 'Enjoy',
       '5 Series 530i', 'Cruze LTZ', 'Verna VGT CRDi SX ABS',
       'Suzuki Omni', 'Suzuki Celerio VDi', 'Zest Quadrajet 1.3',
       'Indigo CS eLX BS IV', 'i10 Era', 'Indigo eCS LX CR4 BS IV',
       'Indigo Marina LS', 'Xcent SX 1.2', 'Nano LX Special Edition',
       'Duster 110 PS RxZ Diesel', 'Suzuki Wagon R AX BSIV', 'Xylo E8',
       'Manza Aqua Quadrajet', 'Venture EX 8 STR',
       'Suzuki Swift Dzire Tour LXi', 'Suzuki Alto LX BSII',
       'Octavia Classic 1.9 TDI MT', 'Suzuki Omni LPG BS IV',
       'Sumo Gold EX BS IV', 'Verna 1.6 CRDI SX',
       'Scorpio SLX 2.6 Turbo 8 Str', 'Elite i20 Sportz 1.2',
       'Ikon 1.6 Nxt', 'Innova 2.5 V 7 STR', 'Sunny XL',
       'Suzuki Swift VDi BS IV', 'Innova 2.0 G4', 'Suzuki Swift VDi ABS',
       'Elite i20 Asta 1.2', 'Polo Trendline 1.5L D', 'Etios Liva Diesel',
       'Suzuki Ciaz ZXi Plus RS', 'Elantra 1.8 S',
       'EcoSport Trend 1.5L Ti VCT', 'XF 2.2 Diesel Luxury',
       'Q5 2.0 TDI quattro Premium Plus', '3 Series 320d Sedan',
       'Suzuki Swift ZXi 1.2 BS IV', 'X1 sDrive20d',
       'Suzuki S Cross Sigma 1.3', 'Suzuki Ertiga LDi', 'City SV',
       'Vento Comfortline Petrol', 'KUV100',
       'Suzuki Swift Dzire Tour VDi', 'Scorpio 2.6 SLX',
       'Suzuki Omni 8 STR BS III', 'Jetta Comfortline 1.9 TDI AT',
       'S80 Summum D4', 'Corolla Altis VL AT Petrol',
       'Pajero Sport 2.5 AT', 'Beat LT Petrol', 'X1',
       'Benz C Class C 220 CDI Avantgarde', 'Vento Comfortline Diesel',
       'Indigo CS GLS', 'City ZX GXi', 'Suzuki Wagon R Duo Lxi',
       'Suzuki Zen LX BSII', 'Duster RxL Petrol', 'WR V S MT Petrol',
       'Duster 110 PS RxL Diesel', 'Scorpio LX BS III',
       'Suzuki SX4 Celebration Diesel', 'A3 Cabriolet 40 TFSI',
       'Santro AE GLS Audio', 'Xylo D2 BS IV', 'Getz GLE',
       'Santro Xing XL AT eRLX Euro III', 'Santro Xing XL eRLX Euro III',
       'Indica V2 DLS BS III', 'City 1.5 E MT', 'Micra XL',
       'City 1.5 S Inspire', 'Indica eV2 eXeta eGLX',
       'Suzuki Omni E 8 STR BS IV', 'Verna 1.6 CRDI SX Plus AT',
       'Tavera LS B3 10 Seats BSII',
       'Motors Ambassador Classic Mark 4 – Befo',
       'Fusion 1.4 TDCi Diesel', 'Linea Emotion 1.4 L T Jet Petrol',
       'Ikon 1.3 Flair Josh 100', 'Indica V2 LS', 'Xylo D2', 'Corolla',
       'Sumo Grande MKII GX', 'Polo Highline1.2L P', 'Tiago Revotron XZ',
       'Indigo eCS', 'Xylo E8 BS IV', 'Sumo Gold FX BSIII', 'Creta',
       'Bolt XM Petrol', 'Suzuki Ritz', 'Lodgy', 'i20 Asta',
       'Suzuki Swift Select Variant', 'Indica V2 DLX BS III',
       'Scorpio VLX 2.2 mHawk Airbag BSIV', 'Innova 2.5 E 8 STR',
       'Go Plus', 'Indica V2', 'Santro Xing GL',
       'Innova 2.5 Z Diesel 7 Seater', 'Logan', 'Suzuki 800 Std BS III',
       'Sail 1.2 LS', 'Vento Highline Plus 1.5 Diesel', 'Manza',
       'Etios G', 'Qualis', 'Quanto C4', 'Suzuki Swift Dzire',
       'i20 Select Variant', 'City VX Petrol', 'Getz',
       'Benz C Class 200 K MT', 'Fabia', 'Suzuki Alto 800 Select Variant',
       'Suzuki Ritz VXI ABS', 'Indica V2 DLE BS III', 'Zest XM Diesel'],
      dtype=object)

In [87]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 751 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        751 non-null    object
 1   company     751 non-null    object
 2   year        751 non-null    int64
 3   Price       736 non-null    float64
 4   kms_driven  751 non-null    int64
 5   fuel_type   751 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 57.2+ KB

In [88]:
sorted(ds["year"].unique())

[1995,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [89]:
sorted(ds["Price"].unique())

[30000.0,
 55000.0,
 80000.0,
 nan,
 32000.0,
 35000.0,
 35999.0,
 39999.0,
 40000.0,
 42000.0,
 45000.0,
 48000.0,
 50500.0,
 51999.0,
 53000.0,
 57000.0,
 59000.0,
 60000.0,
 65000.0,
 68000.0,
 69999.0,
 70000.0,
 71000.0,
 72500.0,
 75000.0,
 85000.0,
 88000.0,
 90000.0,
 90001.0,
 95000.0,
 98500.0,
 99000.0,
 99999.0,
 100000.0,
 105000.0,
 110000.0,
 114990.0,
 115000.0,
 120000.0,
 123000.0,
 125000.0,
 130000.0,
 135000.0,
 140000.0,
 145000.0,
 149000.0,
 150000.0,
 155000.0,
 155555.0,
 158400.0,
 159000.0,
 159500.0,
 160000.0,
 162000.0,
 165000.0,
 168000.0,
 169500.0,
 169999.0,
 170000.0,
 174999.0,
 175000.0,
 178000.0,
 179000.0,
 179999.0,
 180000.0,
 182000.0,
 185000.0,
 188000.0,
 189000.0,
 189500.0,
 189700.0,
 190000.0,
 195000.0,
 199000.0,
 199999.0,
 200000.0,
 205000.0,
 209000.0,
 210000.0,
 215000.0,
 220000.0,
 224999.0,
 225000.0,
 230000.0,
 235000.0,
 239999.0,
 240000.0,
 244999.0,
 245000.0,
 249999.0,
 250000.0,
 251111.0,
 255000.0,
 260000.0,
 265000.0,
 269000.0,
 270000.0,
 274999.0,
 275000.0,
 278000.0,
 280000.0,
 284999.0,
 285000.0,
 289999.0,
 290000.0,
 295000.0,
 299000.0,
 299999.0,
 300000.0,
 310000.0,
 311000.0,
 315000.0,
 320000.0,
 324999.0,
 325000.0,
 329500.0,
 330000.0,
 335000.0,
 340000.0,
 344999.0,
 345000.0,
 349999.0,
 350000.0,
 351000.0,
 355000.0,
 360000.0,
 365000.0,
 370000.0,
 372000.0,
 374999.0,
 375000.0,
 380000.0,
 385000.0,
 389700.0,
 390000.0,
 395000.0,
 399000.0,
 399999.0,
 400000.0,
 401000.0,
 401919.0,
 405000.0,
 410000.0,
 415000.0,
 419000.0,
 424999.0,
 425000.0,
 430000.0,
 435000.0,
 444999.0,
 448000.0,
 448999.0,
 449999.0,
 450000.0,
 465000.0,
 470000.0,
 474999.0,
 475000.0,
 480000.0,
 485000.0,
 488000.0,
 489999.0,
 490000.0,
 495000.0,
 498000.0,
 499000.0,
 499999.0,
 500000.0,
 500001.0,
 501000.0,
 519000.0,
 520000.0,
 524999.0,
 525000.0,
 530000.0,
 535000.0,
 540000.0,
 544999.0,
 548900.0,
 549000.0,
 549900.0,
 549999.0,
 550000.0,
 560000.0,
 565000.0,
 569999.0,
 570000.0,
 574999.0,
 575000.0,
 580000.0,
 584999.0,
 590000.0,
 599000.0,
 599999.0,
 600000.0,
 610000.0,
 615000.0,
 635000.0,
 644999.0,
 649999.0,
 650000.0,
 689999.0,
 690000.0,
 699000.0,
 699999.0,
 701000.0,
 715000.0,
 725000.0,
 730000.0,
 749999.0,
 750000.0,
 790000.0,
 795000.0,
 800000.0,
 830000.0,
 849999.0,
 855000.0,
 860000.0,
 865000.0,
 895000.0,
 899000.0,
 900000.0,
 940000.0,
 944999.0,
 950000.0,
 970000.0,
 984999.0,
 1000000.0,
 1025000.0,
 1065000.0,
 1074999.0,
 1075000.0,
 1130000.0,
 1150000.0,
 1225000.0,
 1299000.0,
 1350000.0,
 1400000.0,
 1475000.0,
 1490000.0,
 1499000.0,
 1500000.0,
 1510000.0,
 1525000.0,
 1540000.0,
 1599000.0,
 1600000.0,
 1725000.0,
 1850000.0,
 1891111.0,
 1900000.0,
 2000000.0,
 2100000.0,
 2190000.0,
 2390000.0,
 3100000.0,
 8500003.0]

In [94]:
ds.duplicated().unique()
#ds.duplicated().sum()

array([False,  True])

In [95]:
ds.drop_duplicates(inplace=True)

In [96]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        666 non-null    object
 1   company     666 non-null    object
 2   year        666 non-null    int64
 3   Price       651 non-null    float64
 4   kms_driven  666 non-null    int64
 5   fuel_type   666 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.4+ KB

In [100]:
ds["Price"].isnull().sum()

0

In [99]:
ds=ds.dropna(subset=["Price"])

In [102]:
ds.to_csv("new_clenend_data.csv")